body{
    width:390px;
    height:844px;
    font-size: 20px;
}

.header input{
    text-align: right;
}

.header .form{
    background-color: #78bfdd;
    width:50%;
    height: 30px;
    display:inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header{
    width:100%;
    height:15%;
    background-color: #d5d9db;
    
    /* font-weight: bold; */
}

.header .prog{
    text-align: center;
    padding-top: 20px;
}

progress{
    width: 70%;
    height:24px;
}

.header .file{

    margin-left: 15%;
}

.money_struct{
    margin-left:15%;
    width:70%;
    height: 30px;
}

.main input{
    text-align: right;
}

.main .form{
    background-color: #78bfdd;
    width:55%;
    height: 30px;
    display:inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box.date{
    border: solid 2px#000000;
    border-right: none;
    border-left: none;
}
.box.spend{
    border: solid 2px#000000;
    border-top: none;
    border-right: none;
    border-left: none;
}

.box p{
    margin: 0;
    padding: 0;
}

.box .text{
    margin-left: 5%;
}

.left{  
    /* width:100px; */
    display:inline-block;
}


.right{  
    /* width:100px; */
    display:inline-block;
}

#current_date{
    display:inline-block;
    margin-left: 20%;
}

.spend.left{
    margin-right: 15%;
}

.category{
    margin-left: 5%;
}

/* .category .text{
    margin-left: 5%;
} */
.category .jenre{
    margin-bottom: 20px;
}

.category .form{
    background-color: #d5d9db;
    width:100%;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 20px;
}

.category .bar{
    width:50%;
    display:inline-block;
}

/* .bar input{
    margin-left: 20px;
} */

.category .money{
    margin-left: 10%;
    display:inline-block;
}

.category .cost{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.eat img{
    width: 50px;
    height:50px;
    padding: 0;
    margin-left: 20%;
}

.red{
    border: solid 5px#ff0000;
    width: 25%;
    height: 10%;
    display:inline-block;
}


.traffic img{
    width: 50px;
    height:50px;
    padding: 0;
    margin-left: 20%;
}

.orange{
    border: solid 5px#ff7b00;
    width: 25%;
    height: 10%;
    display:inline-block;
}

.entertainment img{
    width: 50px;
    height:50px;
    padding: 0;
    margin-left: 20%;
}

.yellow{
    border: solid 5px#ffd900;
    width: 25%;
    height: 10%;
    display:inline-block;
}

.other img{
    width: 50px;
    height:50px;
    padding: 0;
    margin-left: 20%;
}

.gray{
    border: solid 5px#52514c;
    width: 25%;
    height: 10%;
    display:inline-block;
}


.content {
    text-align: left;
    padding:0.3em;
    font-size: 20px;
}


.btn,
a.btn{
    color: #fff;
    background-color: #409ff5;
    margin:0.5em auto;
    border-radius: 15px;
}
.btn,
a.btn:hover{
    color: #fff;
    background: #409ff5;
}

.btn.input{
    color:black;
    background-color:#fff;
    border:solid 2px #409ff5;
    margin-top: 40px;
    margin-left: 30%;
}